.circular-menu {
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 11;
}

.circular-menu .floating-btn {
	width: 6em;
	height: 6em;
	box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.26);
	cursor: pointer;
	outline: 0;
}

.circular-menu.active .floating-btn {
	box-shadow: inset 0 0 3px hsla(0, 0%, 0%, 0.3);
}

.circular-menu .floating-btn:active {
	box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.4);
}

.circular-menu:after {
	display: block;
	content: '';
	width: 6em;
	height: 6em;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -2;
	background-color: var(--p-primary-500);
	transition: all 0.3s ease;
}

.circular-menu.active:after {
	transform: scale3d(4, 4, 1);
	transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}

.circular-menu:before {
	display: none;
	content: '';
	width: 6em;
	height: 6em;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -3;
	background-color: var(--p-primary-300);
	transition: all 0.3s ease;
}

.circular-menu.second-level-active:before {
	display: block;
	transform: scale3d(8, 8, 1);
	transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}

.circular-menu .items-wrapper {
	padding: 0;
	margin: 0;
}

.menu-item {
	cursor: pointer;
}

.circular-menu .menu-item {
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: -1;
	text-decoration: none;
	color: hsl(0, 0%, 100%);
	font-size: 1em;
	transition:
		transform 0.3s ease,
		background 0.2s ease;
}

.circular-menu.active .menu-item {
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
	transform: translate3d(-1em, -8em, 0);
}

.circular-menu.active .menu-item:nth-child(2) {
	transform: translate3d(-7em, -2em, 0);
}

.second-level-items-wrapper {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.second-level-item {
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: -2;
	text-decoration: none;
	color: hsl(0, 0%, 100%);
	font-size: 1em;
	transition:
		transform 0.3s ease,
		background 0.2s ease;
	opacity: 0;
}

.circular-menu.second-level-active .second-level-item {
	opacity: 1;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-delay: 0.1s;
}

.circular-menu.second-level-active .second-level-item:nth-child(1) {
	transform: translate3d(-8em, -16em, 0);
}

.circular-menu.second-level-active .second-level-item:nth-child(2) {
	transform: translate3d(-14em, -10em, 0);
}

.circular-menu.second-level-active .second-level-item:nth-child(3) {
	transform: translate3d(-16em, -2em, 0);
}

.circular-menu.second-level-active .second-level-item:nth-child(4) {
	transform: translate3d(0em, -19em, 0);
}

.circular-menu.second-level-active .menu-item:nth-child(1) {
	transform: translate3d(-1em, -8em, 0);
}

.circular-menu.second-level-active .menu-item:nth-child(2) {
	transform: translate3d(-7em, -2em, 0);
}

.active-side-bar-menu {
	right: 465px !important;
	z-index: 15;
}
