<div class="h-full w-full">
	<div class="flex gap-1 flex-col py-5">
		<div class="overflow-x-auto">
			<p-breadcrumb class="max-w-full" [model]="breadCrumbs" />
		</div>
		<div class="w-full flex justify-between items-center flex-col md:flex-row">
			<div class="text-lg font-bold">{{ title }}</div>
			<div class="flex gap-1">
				<p-button styleClass="h-full" label="Agregar" icon="pi pi-plus"
					(click)="showDialogForm('Crear Actividad')" />
				<p-button styleClass="h-full" label="Actualizar" severity="secondary" icon="pi pi-refresh"
					(click)="reloadpage()" />
			</div>
		</div>
	</div>
	<app-calendar [data]="data$ | async"></app-calendar>
</div>