.card {
	background-color: transparent;
	width: 100%;
	display: flex;
	align-items: center;
	max-height: 600px;
	overflow-y: auto;
	height: 100%;
}

.header {
	width: 100%;
	max-height: 50px;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 100%;

	&__title {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 2rem;
		font-weight: bold;

		i {
			font-size: 2rem;
			font-weight: bold;
		}
	}

	img {
		height: 50px;
		width: auto;
	}
}

.logos {
	display: flex;
	align-items: center;
	gap: 5px;

}

.resena {
	display: flex;
	width: 100%;
	height: 100vh;
	background-image: url('../../../../../../../assets/webportal/linea/fondolinea.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
}

.contenedor {
	display: flex;
	flex-direction: column;
	background-color: #272323E5;
	color: white;
	border-radius: 10px;

	padding: 7px;

	&__header {
		display: flex;
		flex-direction: column;
		font-size: 1.1rem;
	}

	ul {
		text-align: start;
		list-style: none;
		padding: 0;
	}
}

li {
	padding-left: 20px;
	/* Space for custom bullet */
	position: relative;
	/* Allows positioning of custom bullet */
	color: white;
	/* Darker text color */
}

li::before {
	content: '•';
	/* The bullet character */
	color: #11ca9d;
	/* Color matching your event's color */
	font-size: 1.1rem;
	/* Slightly larger bullet */
	position: absolute;
	left: 0;
	/* Position the bullet to the left */
	top: 0;
	/* Align with the top of the text */
}

.timeline-scroll {
	display: flex;
	width: 80%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 10%;
	gap: 10px;
}