@if (step() == 0) {
	<p>Para utilizar el geovisor de monitoreo de cambio de suelo, se deben seguir los siguientes pasos previos:</p>

	<div class="flex gap-4">
		<div class="flex-1 bg-[#23b7d1] rounded-2xl flex flex-col p-4" (click)="step.set(1)">
			<div class="flex justify-center">
				<div class="rounded-full border-4 bg-white p-4">
					<img src="img/use_step_1.png" alt="Paso 1: Generación de Mosaico" />
				</div>
			</div>

			<h3 class="text-center text-white!">Paso 1: Generación de Mosaico</h3>

			<p class="text-white text-center">
				En esta etapa se genera una imagen satelital compuesta y limpia mediante Google Earth Engine, que servirá como
				base para el análisis de cambios en el uso del suelo.
			</p>
		</div>

		<div class="flex-1 bg-[#0f8094] rounded-2xl flex flex-col p-4" (click)="step.set(2)">
			<div class="flex justify-center">
				<div class="rounded-full border-4 bg-white p-4">
					<img src="img/use_step_2.png" alt="Paso 2: Clasificación de Uso y Cobertura del Suelo" />
				</div>
			</div>

			<h3 class="text-center text-white!">Paso 2: Clasificación de Uso y Cobertura del Suelo</h3>

			<p class="text-white text-center">
				Se aplica un algoritmo sobre el mosaico generado para clasificar las distintas coberturas del suelo, permitiendo
				identificar áreas transformadas o conservadas.
			</p>
		</div>
	</div>
} @else if (step() == 1) {
	<div>
		<div class="relative text-center bg-primary rounded-xl text-white! pt-10 mt-15">
			<div class="flex justify-center absolute -top-11 w-full">
				<img width="80" src="img/use_step_1.png" alt="Paso 1: Generación de Mosaico" />
			</div>
			<h2 class="text-white!">
				Guía para la Generación de Mosaico<br />
				Google Earth Engine
			</h2>
		</div>

		<p>
			La Wildlife Conservation Society (WCS) ha desarrollado una herramienta en Google Earth Engine para generar
			mosaicos satelitales y detectar cambios en el uso del suelo mediante algoritmos avanzados. Esta herramienta está
			diseñada específicamente para la región del Beni.
		</p>

		<div class="flex gap-4">
			<div class="flex-1">
				<div>
					<h3 class="bg-primary rounded-xl text-white!">
						<img src="img/guide_steps_icon.png" class="ml-4 inline-block" width="35" height="35" alt="icono pasos" />
						¿Qué necesitas?
					</h3>

					<ol class="list-decimal pl-5">
						<li>
							<strong>Registro en Google Earth Engine</strong><br />
							Ingresa a
							<a class="text-primary" href="https://earthengine.google.com">https://earthengine.google.com</a> y
							solicita acceso con tu cuenta Gmail , recibiras un correo de confirmación
						</li>
						<li>
							<strong>Ingreso del Script</strong> <br />
							Una vez que se tenga acceso a una cuenta de google, abre el siguiente enlace para ejecutar el script.
						</li>
					</ol>

					<a
						label="Visitar"
						severity="primary"
						class="w-full mt-2 py-2"
						pButton
						href="https://code.earthengine.google.com/45e71a2907f3cde12254da83d129c5ee"
						target="_blank"
					></a>
				</div>
			</div>

			<div class="flex-1">
				<div>
					<h3 class="bg-primary rounded-xl text-white!">
						<img
							src="img/guide_preview_icon.png"
							class="ml-4 inline-block"
							width="35"
							height="35"
							alt="icono vista previa"
						/>
						Vista previa del script
					</h3>
					<p>
						La interfaz muestra El área de interés con el mosaico generado para el año 2024. Los scripts trabajan sobre
						datos de la region del Beni. Además, en el panel de control se encuentra el código utilizado para generar
						dichos mosaicos.
					</p>

					<div class="flex justify-center">
						<img src="img/use_step_1_preview.png" alt="Vista previa del script" class="w-3/4 h-auto" />
					</div>
				</div>
			</div>
		</div>

		<div class="flex justify-between w-full">
			<p-button label="Regresar" icon="pi pi-arrow-left" severity="secondary" class="mt-2 py-2" (click)="step.set(0)">
			</p-button>

			<p-button label="Salir" icon="pi pi-times" severity="secondary" class="mt-2 py-2" (click)="onClose()"> </p-button>
		</div>
	</div>
} @else if (step() == 2) {
	<div>
		<div class="relative text-center bg-primary rounded-xl text-white! pt-10 mt-15">
			<div class="flex justify-center absolute -top-11 w-full">
				<img width="80" src="img/use_step_2.png" alt="Paso 2" />
			</div>
			<h2 class="text-white!">
				Guía para la Clasificación de Uso y Cobertura del Suelo<br />
				Google Earth Engine
			</h2>
		</div>

		<p>
			La Wildlife Conservation Society (WCS) ha desarrollado una herramienta en Google Earth Engine para generar
			mosaicos satelitales y detectar cambios en el uso del suelo mediante algoritmos avanzados. Esta herramienta está
			diseñada específicamente para la región del Beni.
		</p>

		<div class="flex gap-4">
			<div class="flex-1">
				<div>
					<h3 class="bg-primary rounded-xl text-white!">
						<img src="img/guide_steps_icon.png" class="ml-4 inline-block" width="35" height="35" alt="icono pasos" />
						¿Qué necesitas?
					</h3>

					<ol class="list-decimal pl-5">
						<li>
							<strong>Registro en Google Earth Engine</strong><br />
							Ingresa a
							<a class="text-primary" href="https://earthengine.google.com">https://earthengine.google.com</a> y
							solicita acceso con tu cuenta Gmail , recibiras un correo de confirmación
						</li>
						<li>
							<strong>Ingreso del Script</strong> <br />
							Una vez que se tenga acceso a una cuenta de google, abre el siguiente enlace para ejecutar el script.
						</li>
					</ol>

					<a
						label="Visitar"
						severity="primary"
						class="w-full mt-2 py-2"
						pButton
						href="https://code.earthengine.google.com/2e752e74ab4c82da2b5748a78b15b9e6"
						target="_blank"
					></a>
				</div>
			</div>

			<div class="flex-1">
				<div>
					<h3 class="bg-primary rounded-xl text-white!">
						<img
							src="img/guide_preview_icon.png"
							class="ml-4 inline-block"
							width="35"
							height="35"
							alt="icono vista previa"
						/>
						Vista previa del script
					</h3>
					<p>
						La interfaz muestra El área de interés con el mosaico generado para el año 2024. Los scripts trabajan sobre
						datos de la region del Beni. Además, en el panel de control se encuentra el código utilizado para generar
						dichos mosaicos.
					</p>

					<div class="flex justify-center">
						<img src="img/use_step_2_preview.png" alt="Vista previa del script" class="w-3/4 h-auto" />
					</div>
				</div>
			</div>
		</div>

		<div class="flex justify-between w-full">
			<p-button label="Regresar" icon="pi pi-arrow-left" severity="secondary" class="mt-2 py-2" (click)="step.set(0)">
			</p-button>

			<p-button label="Salir" icon="pi pi-times" severity="secondary" class="mt-2 py-2" (click)="onClose()"> </p-button>
		</div>
	</div>
}
