<div class="calendar">
	<div class="calendar__header">
		<div class="calendar__meses" *ngFor="let mes of meses  let i = index">
			<div class="calendar__tituloHeader" [ngStyle]="{'background-color': colorDinamico}">{{ mes }}</div>
			<div class="calendar__body">
				<div class="task" *ngFor="let reunion of reunionesPorMes[i]  let j = index"
					(click)="toggleExpand(i + '-' + j)">
					<div [ngClass]="{
    'extraordinario': reunion.reunionExtraOrdinaria,
    'ordinario': !reunion.reunionExtraOrdinaria
  }" class="task__TareaTipo"> {{ reunion.reunionExtraOrdinaria ? 'EXTRAORDINARIO'
						: 'ORDINARIO' }}</div>
					<div [ngClass]="getEstadoClase(reunion)" class="task__body">
						<div class="task__h1"><strong>Grupo:</strong>{{ reunion.grupo }}</div>
						<div class="task__h1"><strong>Fecha:</strong>{{ reunion.Fecha }}</div>
						<div class="task__b"><strong> Objetivo:</strong> {{ reunion.Objetivo }}</div>
						<div *ngIf="expandedKey === (i + '-' + j)" class="task__extra">
							<div><strong>Estado:</strong> {{ reunion.ESTADO }}</div>
							<input type="file" #fileInput style="display: none;" accept=".pdf"
								(change)="onFileSelected($event)">
							<button *ngIf="!reunion.acta" class="task__button"
								(click)="selectReunion(reunion);fileInput.click()">Subir
								Acta</button>
							<button *ngIf="reunion.acta" class="task__button" (click)="abrirModal()">Ver Acta</button>
							<!-- <div><strong>Acta:</strong> {{ reunion.acta || 'Sin acta' }}</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
<!-- <p-dialog [(visible)]="mostrarDialogo" [modal]="true" [style]="{width: '80vw'}">
	<app-visor-pdf [pdfSrc]="'http://localhost:3000/api/v1/uploads/TareaByFecha/doc_20250628031456205.pdf'"></app-visor-pdf>
</p-dialog> -->