<div class="h-full">
	@if (isLoading()) {
		<div class="flex justify-center">
			<app-loader [message]="uploadMessage()"> </app-loader>
		</div>
	} @else {
		<form [formGroup]="form" (submit)="$event.preventDefault()">
			<p-stepper #dialogForm [(value)]="currentStep" [linear]="true">
				<p-step-list>
					<p-step [disabled]="!isViewMode()" [value]="1">Información</p-step>
					<p-step [disabled]="!isViewMode()" [value]="2">Visualizar / Finalizar</p-step>
				</p-step-list>

				<p-step-panels>
					<p-step-panel [value]="1">
						<ng-template #content let-activateCallback="activateCallback">
							<div class="flex flex-col gap-2">
								<div class="grid grid-cols-1 gap-2 md:grid-cols-2">
									<app-input-text
										label="Nombre del archivo"
										placeholder="Nombre del archivo"
										name="name"
										[control]="controls['name']"
									></app-input-text>

									<div>
										<label class="block font-medium mb-2" for="coverageDate">Fecha de archivo a cargar</label>
										<p-datepicker
											placeholder="Seleccionar fecha"
											formControlName="coverageDate"
											styleClass="w-full"
											appendTo="body"
											inputId="coverageDate"
											[readonlyInput]="true"
											[showIcon]="true"
										/>
										<app-input-error [control]="controls['coverageDate']"></app-input-error>
									</div>

									<app-input-text
										type="textarea"
										[maxLength]="300"
										label="Descripción de la cobertura"
										class="md:col-span-2"
										placeholder="Ingrese al descripción"
										name="description"
										[control]="controls['description']"
									></app-input-text>
								</div>

								<h4 class="mt-0!">Importar Archivo SHP</h4>

								<div>
									<p>
										<b>Importante:</b> El archivo .zip Debe contar con los archivos de tipo extensión .bdf, .shp y .shx.
									</p>

									@if (columns.length > 0) {
										<strong>El Shape debe tener las siguientes propiedades:</strong>
										<div class="flex justify-center">
											<table>
												<tr>
													@for (column of columns; track column) {
														<th class="border border-gray-600 p-4">{{ column }}</th>
													}
												</tr>
											</table>
										</div>
									}
								</div>

								<div>
									@if (showUpload()) {
										<p-fileupload
											[disabled]="isViewMode()"
											name="file"
											accept=".zip"
											maxFileSize="2_000_000"
											mode="advanced"
											[showUploadButton]="false"
											chooseLabel="Seleccionar"
											uploadLabel="Subir"
											cancelLabel="Cancelar"
											[customUpload]="true"
											(onSelect)="onSelect($event)"
										>
										</p-fileupload>
										<app-input-error [control]="controls['file']"></app-input-error>
									} @else {}
								</div>
							</div>

							<div class="flex pt-6 justify-end">
								@if (isViewMode()) {
									<p-button
										label="Siguiente"
										icon="pi pi-arrow-right"
										iconPos="right"
										(onClick)="activateCallback(2)"
									/>
								} @else {
									<p-button
										[disabled]="form.invalid"
										label="Guardar y Siguiente"
										icon="pi pi-arrow-right"
										iconPos="right"
										(onClick)="onSubmit()"
									/>
								}
							</div>
						</ng-template>
					</p-step-panel>

					<p-step-panel [value]="2">
						<ng-template #content let-activateCallback="activateCallback">
							<div>
								<div
									style="height: 500px"
									class="w-full"
									leaflet
									[leafletOptions]="mapOptions"
									[leafletLayer]="mapLayer"
									(leafletMapReady)="onMapReady($event)"
								></div>
							</div>

							<div class="flex pt-6 justify-between">
								<p-button
									severity="secondary"
									label="Atras"
									icon="pi pi-arrow-left"
									iconPos="left"
									(onClick)="activateCallback(1)"
								/>

								@if (isViewMode()) {
									<p-button (onClick)="closeForm()" label="Cerrar" icon="pi pi-times" iconPos="right" type="button" />
								} @else {
									<p-button
										[disabled]="form.invalid"
										label="Salir"
										iconPos="right"
										type="button"
										(onClick)="onSubmit()"
									/>
								}
							</div>
						</ng-template>
					</p-step-panel>
				</p-step-panels>
			</p-stepper>
		</form>
	}
</div>
