<div class="resena">
    <div class="content">
        <p-stepper [value]="1">
            <p-step-panels>
                <p-step-panel [value]="1">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div class="steper_content">
                                <strong class="title">COORDINACIÓN EJECUTIVA</strong>
                                <div class="conteiner_body">
                                    <div class="conteiner_cards">
                                        <p-card [style]="{ width: '15rem', overflow: 'hidden' }"
                                            *ngFor="let institucion of autoridades">
                                            <ng-template #header>
                                                <div class=card__header>
                                                    {{institucion.nombre }}
                                                </div>
                                            </ng-template>
                                            <div class="card__body">
                                                <img alt="Imagen Institución" class="cardImga"
                                                    [src]='institucion.sigla' />
                                                <div class="card__text">
                                                    <strong>{{ institucion.cargo }}</strong>
                                                    {{ institucion.persona }}
                                                </div>
                                            </div>
                                        </p-card>
                                    </div>

                                    <div class="participantes">
                                        <div class="Instituciones">
                                            <div class="imagenlogo">
                                                <img src="assets/webportal/coordinacion/instituciopnes.png" alt="">
                                                <strong>7</strong>
                                            </div>
                                            <strong>Instituciones</strong>
                                        </div>
                                        <div class="Instituciones">
                                            <div class="imagenlogo">
                                                <img src="assets/webportal/coordinacion/autoridades.png" alt="">
                                                <strong>7</strong>
                                            </div>
                                            <strong>Autoridades</strong>
                                        </div>
                                    </div>
                                    <div class="flex pt-6 justify-end">
                                        <button class="button" iconPos="right" (click)="activateCallback(2)"><i
                                                class="pi pi-arrow-right"></i></button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </ng-template>
                </p-step-panel>

                <p-step-panel [value]="2">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-30">
                            <strong class="title">GRUPOS INTERNOS</strong>
                            <div class="diagrama_participantes">
                                <img alt="Imagen Institución" class="diagrama"
                                    src='assets/webportal/coordinacion/img.png' />
                                <div class="participantes">
                                    <div class="Instituciones">
                                        <div class="imagenlogo">
                                            <img src="assets/webportal/coordinacion/instituciopnes.png" alt="">
                                            <strong>7</strong>
                                        </div>
                                        <strong>Instituciones</strong>
                                    </div>
                                    <div class="Instituciones">
                                        <div class="imagenlogo">
                                            <img src="assets/webportal/coordinacion/autoridades.png" alt="">
                                            <strong>7</strong>
                                        </div>
                                        <strong>Autoridades</strong>
                                    </div>
                                </div>
                                <div class="card-container" *ngFor="let group of groups">
                                    <div class="card_group">
                                        <div class="card_group__header">
                                            GRUPO DE TRABAJO
                                            <!-- <p>Inicio: {{ group.periodo_inicio | date: 'shortDate' }}</p>
                                            <p>Fin: {{ group.periodo_fin | date: 'shortDate' }}</p> -->
                                        </div>

                                        <div class="card_group__body">

                                            <strong>Nombre:</strong>
                                            {{ group.nombre }}
                                            <strong>Fecha Creacion:</strong>
                                            {{ group.fecha_crea| date: 'dd/MM/yyyy' }}
                                            <button class="card_group__button">Ver Grupo</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="flex pt-6 justify-between">
                            <button class="button" severity="secondary" icon="pi pi-arrow-left"
                                (click)="activateCallback(1)"><i class="pi pi-arrow-left"></i></button>
                            <!-- <button class="button" severity="secondary" icon="pi pi-arrow-left"
                                (click)="activateCallback(3)"><i class="pi pi-arrow-right"></i></button> -->
                            <!-- <p-button icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" /> -->
                        </div>
                    </ng-template>
                </p-step-panel>

                <p-step-panel [value]="3">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div
                                class="dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                                Content III
                            </div>
                        </div>
                        <div class="flex pt-6 justify-start">
                            <p-button icon="pi pi-arrow-left" iconPos="right" (onClick)="activateCallback(2)" />
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-panels>
        </p-stepper>
    </div>
</div>