<div class="resena">
    <div class="content">
        <p-stepper [(value)]="currentStep">
            <p-step-panels>
                <p-step-panel [value]="1">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div class="steper_content">
                                <strong class="title">COORDINACIÓN EJECUTIVA</strong>
                                <div class="conteiner_body">
                                    <div class="conteiner_cards">
                                        <p-card [style]="{ width: '15rem', overflow: 'hidden' }"
                                            *ngFor="let institucion of autoridades">
                                            <ng-template #header>
                                                <div class=card__header>
                                                    {{institucion.nombre }}
                                                </div>
                                            </ng-template>
                                            <div class="card__body">
                                                <img alt="Imagen Institución" class="cardImga"
                                                    [src]='institucion.sigla' />
                                                <div class="card__text">
                                                    <strong>{{ institucion.cargo }}</strong>
                                                    {{ institucion.persona }}
                                                </div>
                                            </div>
                                        </p-card>
                                    </div>

                                    <div class="participantes">
                                        <div class="Instituciones">
                                            <div class="imagenlogo">
                                                <img src="assets/webportal/coordinacion/instituciopnes.png" alt="">
                                                <strong>7</strong>
                                            </div>
                                            <strong>Instituciones</strong>
                                        </div>
                                        <div class="Instituciones">
                                            <div class="imagenlogo">
                                                <img src="assets/webportal/coordinacion/autoridades.png" alt="">
                                                <strong>7</strong>
                                            </div>
                                            <strong>Autoridades</strong>
                                        </div>
                                    </div>
                                    <div class="flex pt-6 justify-end">
                                        <button class="button" iconPos="right" (click)="activateCallback(2)"><i
                                                class="pi pi-arrow-right"></i></button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </ng-template>
                </p-step-panel>

                <p-step-panel [value]="2">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="contenedor_grupos">
                            <strong class="title">GRUPOS INTERNOS</strong>
                            <div class="diagrama_participantes">
                                <img alt="Imagen Institución" class="diagrama"
                                    src='assets/webportal/coordinacion/img.png' />
                                <div class="participantes">
                                    <div class="Instituciones">
                                        <div class="imagenlogo">
                                            <img src="assets/webportal/coordinacion/instituciopnes.png" alt="">
                                            <strong>7</strong>
                                        </div>
                                        <strong>Instituciones</strong>
                                    </div>
                                    <div class="Instituciones">
                                        <div class="imagenlogo">
                                            <img src="assets/webportal/coordinacion/autoridades.png" alt="">
                                            <strong>7</strong>
                                        </div>
                                        <strong>Autoridades</strong>
                                    </div>
                                </div>
                                <div class="card-grupos">
                                    <div class="card-container" *ngFor="let group of groups">
                                        <div class="card_group">
                                            <div class="card_group__header">
                                                GRUPO DE TRABAJO
                                            </div>

                                            <div class="card_group__body">

                                                <strong>Nombre:</strong>
                                                {{ group.nombre }}
                                                <strong>Fecha Creacion:</strong>
                                                {{ group.fecha_crea| date: 'dd/MM/yyyy' }}
                                                <button (click)="vergrupodetrabajo(group)"
                                                    class="card_group__button">Ver Grupo</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-full flex pt-6 justify-center">
                                    <button class="button" severity="secondary" icon="pi pi-arrow-left"
                                        (click)="activateCallback(1)"><i class="pi pi-arrow-left"></i></button>
                                    <!-- <button class="button" severity="secondary" icon="pi pi-arrow-left"
                                        (click)="activateCallback(3)"><i class="pi pi-arrow-right"></i></button> -->
                                    <!-- <p-button icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)" /> -->
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-step-panel>

                <p-step-panel [value]="3">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="contenedor_step3">
                            <strong class="title">MIEMBROS GRUPOS DE TRABAJO</strong>
                            <div class="participantes_actividades">
                                <div class="participantes_actividades__act"
                                    *ngIf="grupoSeleccionado?.Actividad?.length > 0">
                                    <div class="actividad-container">
                                        <div class="actividad-card"
                                            *ngFor="let actividad of grupoSeleccionado.Actividad"
                                            (click)="toggleActividad(actividad.id)">
                                            <h2 class="card-title">{{ actividad.nombre }}</h2>
                                            <div class="tarea-list" *ngIf="expandedActividadId === actividad.id">
                                                <h4 class="tarea-title">Tareas:</h4>
                                                <div class="tarea-item" *ngFor="let tarea of actividad.Tarea">
                                                    <p><strong>{{ tarea.nombre }}</strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="participantes_actividades__part">
                                    <div class="participantes_actividades__presentation">
                                        Los grupos de trabajo estarán conformados por los miembros de la mesa y/o sus
                                        delegados técnicos, en función de las temáticas priorizadas. Su propósito será
                                        operativizar las acciones correspondientes.
                                    </div>
                                    <table class="tabla-usuarios">
                                        <thead>
                                            <tr>
                                                <th><strong>Nombre</strong></th>
                                                <th><strong>Apellidos</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let tarea of grupoSeleccionado.TareaUsuario; let i = index">
                                                <td>{{ tarea.usuario.name }} </td>
                                                <td>{{ tarea.usuario.firstSurname }} {{
                                                    tarea.usuario.secondSurname }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="flex pt-6 justify-center">
                                <button class="button" severity="secondary" (click)="activateCallback(2)"><i
                                        class="pi pi-arrow-left"></i></button>
                            </div>
                        </div>

                    </ng-template>
                </p-step-panel>
            </p-step-panels>
        </p-stepper>
    </div>
</div>