<div>
	<form [formGroup]="form" (submit)="onSubmit()" class="flex flex-col gap-2">
		<div>
			<label class="block font-medium mb-2" for="idRole">Seleccionar Rol</label>
			<p-select
				inputId="idRole"
				placeholder="Seleccione un rol"
				[filter]="true"
				formControlName="idRole"
				[options]="roles()"
				appendTo="body"
				styleClass="w-full"
				optionLabel="name"
				optionValue="id"
				[autofocus]="false"
				(onChange)="getResources($event.value)"
			>
			</p-select>
			<app-input-error [control]="controls['idRole']"></app-input-error>
		</div>

		<div>
			<label class="block font-medium mb-2" for="idResource">Seleccionar Módulo</label>
			<p-select
				inputId="idResource"
				placeholder="Seleccione un módulo"
				[filter]="true"
				formControlName="idResource"
				[autofocus]="false"
				[options]="resources()"
				appendTo="body"
				styleClass="w-full"
				optionLabel="name"
				optionValue="id"
			>
			</p-select>
			<app-input-error [control]="controls['idResource']"></app-input-error>
		</div>

		<div>
			<span class="font-semibold">Permisos</span>
			<div class="flex items-center">
				<p-checkbox inputId="isSuperAdmin" name="isSuperAdmin" formControlName="isSuperAdmin" [binary]="true" />
				<label for="isSuperAdmin" class="ml-2"> Administrador </label>
			</div>

			<div class="flex items-center">
				<p-checkbox inputId="canView" name="canView" formControlName="canView" [binary]="true" />
				<label for="canView" class="ml-2"> Puede Ver </label>
			</div>

			<div class="flex items-center">
				<p-checkbox inputId="canCreate" name="canCreate" formControlName="canCreate" [binary]="true" />
				<label for="canCreate" class="ml-2"> Puede Crear </label>
			</div>

			<div class="flex items-center">
				<p-checkbox inputId="canUpdate" name="canUpdate" formControlName="canUpdate" [binary]="true" />
				<label for="canUpdate" class="ml-2"> Puede Actualizar </label>
			</div>

			<div class="flex items-center">
				<p-checkbox inputId="canDelete" name="canDelete" formControlName="canDelete" [binary]="true" />
				<label for="canDelete" class="ml-2"> Puede Eliminar </label>
			</div>
		</div>
		@if (isFormValid()) {
			<span class="text-red-600">* Debe seleccionar al menos un permiso</span>
		}

		<div class="flex pt-6 justify-end">
			@if (isViewMode()) {
				<p-button (onClick)="closeForm()" label="Cerrar" icon="pi pi-times" iconPos="right" type="button" />
			} @else {
				<p-button [disabled]="form.invalid" label="Guardar" icon="pi pi-save" iconPos="right" type="submit" />
			}
		</div>
	</form>
</div>
