strong {
	width: 100%;
	background-color: #15403dc4;
	color: white;
	text-align: center;
	font-size: 2rem;
	padding: 10px;
}

.resena {
	display: flex;
	width: 100%;
	height: 100vh;
	background-image: url('../../../../../../../assets/webportal/resena/fondoresena.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow-y: auto;
}

.card {
	width: auto;
	background-color: transparent;
}

p {
	color: #15403d;
	font-size: 1.3rem;
	width: 50%;
	text-align: justify;
	padding: 5px 0;
}

.content {
	position: fixed;
	top: 10%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

p-galleria {
	height: 100%;
	width: 100%;
}

/* .content strong {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
}
 */