strong {
    width: 100%;
    background-color: #15403DC4;
    color: white;
}

.resena {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url('../../../../../../../assets/webportal/resena/fondoresena.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.card {
    height: 100px;
    width: auto;
    background-color: transparent;
}

p {
    color: #15403D;
    padding: 5px 10px;
}

.content {
    position: fixed;
    top: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content strong {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
}