<!-- gantt-chart.component.html -->
<div class="gantt-container">

    <div class="gantt-wrapper">
        <!-- Columna de tareas -->
        <div class="tasks-column">
            <div class="task-header">
                Tareas
            </div>
            <div class="task-list">
                <div *ngFor="let task of tasks" class="task-row">
                    <div class="task-info" (click)="toggleTaskDetails(task.id)" [ngClass]="getEstadoClase(task)">
                        <div class="task-name">{{ task.name }}</div>
                    </div>
                    <div class="task-details" [class.show]="selectedTaskId === task.id"
                        [hidden]="selectedTaskId !== task.id">
                        <div class="task-details--Descargartical"><strong>Responsable:</strong>{{task.nameResposable}}
                        </div>
                        <div class="task-details--vertical"><strong>Inicio:</strong> {{ task.startDate |
                            date:'dd/MM/yyyy' }}</div>
                        <div class="task-details--vertical"><strong>Fin:</strong> {{ task.endDate | date:'dd/MM/yyyy' }}
                        </div>
                        <div class="task-details--vertical">
                            <div><strong>Participantes:</strong></div>
                            <ul>
                                <li *ngFor="let p of task.participantes">{{ p }}</li>
                            </ul>
                        </div>
                        <!-- Botones -->
                        <div class="task-buttons">
                            <input type="file" #fileInput style="display: none;" accept=".pdf"
                                (change)="onFileSelected($event,'list')">
                            <input type="file" #fileInput style="display: none;" accept=".pdf"
                                (change)="onFileSelected($event,'acta')">
                            <button *ngIf="!task.acta" class="task-buttons--acta"
                                (click)="selectReunion(task);fileInput.click()"><i pInputText pTooltip="Subir Acta"
                                    tooltipPosition="left" class="pi pi-file-check"></i></button>
                            <button *ngIf="!task.listParty" class="task-buttons--users"
                                (click)="selectReunion(task);fileInput.click()"><i pInputText
                                    pTooltip="Subir Lista Participantes" tooltipPosition="left"
                                    class="pi pi-users"></i></button>
                            <button (click)="downloadFile(task.acta,'acta')" *ngIf="task.acta" class="task-buttons--acta"><i pInputText pTooltip="Descargar Acta"
                                    tooltipPosition="left" class="pi pi-file-check"></i></button>
                            <button (click)="downloadFile(task.listParty,'list')" *ngIf="task.listParty" class="task-buttons--users"><i pInputText
                                    pTooltip="Descargar Lista Participantes" tooltipPosition="left"
                                    class="pi pi-users"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Área del timeline -->
        <div class="timeline-area">
            <div class="timeline-header">
                <div class="time-scale">
                    <div *ngFor="let date of getUniqueMonths()" class="time-cell">
                        <div class="date-day">{{ date | date: 'MMMM' }}</div>
                    </div>
                </div>

            </div>
            <div class="gantt-bars">
                <div *ngFor="let task of tasks; let i = index" class="task-bar-row" [class.even]="i % 2 === 0">
                    <div class="task-bar" [style.left.%]="getTaskPosition(task).left"
                        [style.width.%]="getTaskPosition(task).width" [ngClass]="getEstadoClase(task)">
                        <div class="task-label">
                            {{ task.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>