<div class="h-64 w-64">
	<p class="font-bold text-xl text-center">Ordenar Capas</p>
	<div cdkDropListGroup class="h-full">
		<div
			cdkDropList
			[cdkDropListData]="geovisorState.activeMaps()"
			class="border rounded-sm px-2 w-full min-h-[80%]"
			(cdkDropListDropped)="onDrop($event)"
		>
			@for (layer of geovisorState.activeMaps(); track layer.mapDataId) {
				<div cdkDrag [cdkDragData]="layer" class="border-b py-2 cursor-move item-drag">
					{{ layer.mapName }}
				</div>
			}
		</div>
	</div>
</div>
