.topbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 4rem;
    z-index: 997;
    left: 0;
    top: 0;
}

.logos {
    display: flex;
    align-items: center;
    width: auto;
    gap: 5px;
    width: 30%;
}

.logos img {
    height: 40px;
    /* Ajusta según necesidad */
    object-fit: contain;
    width: auto;
}

.contenedor_verde {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 90px 100%);

    span {
        margin-left: 100px;
    }
}

.layout-topbar-logo-container {
    display: none;
}

@media (max-width: 800px) {
    .logos {
        display: none;
    }

    .contenedor_verde {
        display: none;
    }

    .layout-topbar-logo-container {
        display: block;
    }

    .topbar {
        justify-content: center;
        padding: 0 2rem;
        background-color: var(--surface-ground);
    }
}

@media (max-width:1000px) {
    .logos {
        display: none;
    }

    .layout-topbar-logo-container {
        display: block;
    }

    .topbar {
        justify-content: space-around;
        padding: 0 2rem;
        background-color: var(--surface-ground);

    }
}