<div class="mt-2">
	<div class="flex justify-center my-4">
		@if (isHotSpotActive) {
			<p-button [severity]="'danger'" label="Desactivar Focos de Calor" (onClick)="deactiveHotSpot()"></p-button>
		} @else {
			<p-button label="Activar Focos de Calor" (onClick)="activeHotSpot()"></p-button>
		}
	</div>

	<div class="flex justify-between my-4 items-center">
		<label> Consultar Calendario</label>

		<p-datepicker
			styleClass="w-full"
			appendTo="body"
			[(ngModel)]="rangeDate"
			[readonlyInput]="true"
			[showIcon]="true"
			selectionMode="range"
		/>
	</div>

	<div class="flex justify-between my-4 items-center">
		<p-button label="Consultar" icon="pi pi-check" class="p-button-sm" (onClick)="processQuery()"></p-button>
		<p-button label="Descargar" icon="pi pi-download" class="p-button-sm" (onClick)="onDownload()"></p-button>
	</div>

	@if (isLoading()) {
		<app-loader></app-loader>
	} @else {
		<div class="mb-4">
			<p class="font-bold text-xl">Datos generales de Focos de Calor</p>
			<p class="text-center text-4xl font-bold">{{ totalHotSpots() | number: '' : 'es-ES' }}</p>
			<p class="text-xl text-center font-bold">Focos de calor</p>
		</div>

		<!-- <div class="mb-4"> -->
		<!-- 	<span class="font-bold text-center w-full block mb-2">Focos de calor</span> -->
		<!-- 	<div class="flex gap-2 items-center"> -->
		<!-- 		<div class="w-3 h-3 bg-red-600"></div> -->
		<!-- 		<strong>Alto (Mayor a 100)</strong> -->
		<!-- 	</div> -->
		<!---->
		<!-- 	<div class="flex gap-2 items-center"> -->
		<!-- 		<div class="w-3 h-3 bg-yellow-600"></div> -->
		<!-- 		<strong>Medio (Entre 10 a 100)</strong> -->
		<!-- 	</div> -->
		<!---->
		<!-- 	<div class="flex gap-2 items-center"> -->
		<!-- 		<div class="w-3 h-3 bg-green-600"></div> -->
		<!-- 		<strong>Bajo (Menor a 10)</strong> -->
		<!-- 	</div> -->
		<!-- </div> -->

		<p-tabs value="0" (valueChange)="onTabChange($event)" [scrollable]="true">
			<p-tablist>
				<p-tab value="0">Limites Administrativos</p-tab>
				<p-tab value="1">TCOS</p-tab>
				<p-tab value="2">Áreas Protegidas</p-tab>
				<p-tab value="3">Sitios Ramsar</p-tab>
			</p-tablist>

			<p-tabpanels>
				<p-tabpanel value="0">
					<app-bar-chart
						[chartData]="provData()"
						label="Provincias"
						[selectOptions]="provinces"
						(onChangeData)="onProvinceChange($event)"
						(onBarClick)="onBarClick($event, 'prov')"
					>
					</app-bar-chart>

					<app-bar-chart
						[chartData]="munData()"
						label="Municipios"
						[selectOptions]="municipalities"
						(onChangeData)="onMunicipalityChange($event)"
						(onBarClick)="onBarClick($event, 'mun')"
					>
					</app-bar-chart>
				</p-tabpanel>
				<p-tabpanel value="1">
					<app-bar-chart
						[chartData]="tcosData()"
						label="TCOS"
						[selectOptions]="tcos"
						(onChangeData)="onTcosChange($event)"
						(onBarClick)="onBarClick($event, 'tcos')"
					>
					</app-bar-chart>
				</p-tabpanel>
				<p-tabpanel value="2">
					<app-bar-chart
						[chartData]="apsData()"
						label="Areas Protegídas"
						[selectOptions]="aps"
						(onChangeData)="onApsChange($event)"
						(onBarClick)="onBarClick($event, 'aps')"
					>
					</app-bar-chart>
				</p-tabpanel>
				<p-tabpanel value="3">
					<app-bar-chart
						[chartData]="ramsarData()"
						label="Sitios Ramsar"
						[selectOptions]="ramsars"
						(onChangeData)="onRamsarChange($event)"
						(onBarClick)="onBarClick($event, 'ramsar')"
					>
					</app-bar-chart>
				</p-tabpanel>
			</p-tabpanels>
		</p-tabs>
	}
</div>
