<div class="h-full">
    <form [formGroup]="form" (submit)="onSubmit()">
        <div class="grid grid-cols-1 gap-2 md:grid-cols-2 min-h-48">
            <app-input-text label="Nombre:" placeholder="Ingrese nombre" name="nombreReunion"
                [control]="controls['nombreReunion']"></app-input-text>
            <div>
                <label class="block font-medium mb-2" for="idRole">Fecha de la reunión:</label>
                <p-datepicker placeholder="Seleccionar Fecha" formControlName="fechaReunion" styleClass="w-full"
                    appendTo="body" inputId="fechaReunion" [readonlyInput]="true" [showIcon]="true" [showTime]="true"
                    [hourFormat]="'12'" />
                <app-input-error [control]="controls['fechaReunion']"></app-input-error>
            </div>
            <div>
                <label class="block font-medium mb-2" for="idRole">Fecha de la siguiente reunión:</label>
                <p-datepicker placeholder="Seleccionar Fecha" formControlName="fechaSegundaReunion" styleClass="w-full"
                    appendTo="body" inputId="fechaSegundaReunion" [readonlyInput]="true" [showIcon]="true"
                    [showTime]="true" [hourFormat]="'12'" />
                <app-input-error [control]="controls['fechaSegundaReunion']"></app-input-error>
            </div>
            <div class="col-span-1 md:col-span-1">
                <div>
                    <label class="block font-medium mb-2" for="idRole">Modalidad</label>
                    <p-select [checkmark]="true" optionLabel="name" optionValue="name"
                        placeholder="Seleccione Modalidad" [appendTo]="'body'" [options]="TypeActivity" class="w-full"
                        formControlName="modalidad"></p-select>
                    <app-input-error [control]="controls['modalidad']"></app-input-error>
                </div>
            </div>
            <app-input-text *ngIf="controls['modalidad']?.value === 'Virtual'" label="Link Reunión:"
                placeholder="Ingrese Link" name="link" [control]="controls['link']"></app-input-text>
            <app-input-text *ngIf="controls['modalidad']?.value === 'Presencial'" label="Dirección"
                placeholder="Ingrese Dirección" name="direccion" [control]="controls['direccion']"></app-input-text>
        </div>
        <div class="flex pt-6 flex-row-reverse">
            @if (isViewMode()) {
            <p-button (onClick)="closeForm()" label="Cerrar" icon="pi pi-times" iconPos="right" type="button" />
            } @else {
            <p-button [disabled]="form.invalid" label="Guardar" icon="pi pi-save" iconPos="right" type="submit" />
            }
        </div>
    </form>
</div>