<div class="h-full w-full">
	<!-- Header portion -->
	<div class="flex justify-between gap-1 flex-col">
		<div class="overflow-x-auto">
			<p-breadcrumb class="max-w-full" [model]="breadCrumbs" />
		</div>

		<div class="min-w-max flex gap-1">
			<p-button
				styleClass="h-full"
				label="Agregar Cobertura"
				icon="pi pi-plus"
				(click)="showDialogForm('Agregar Cobertura')"
			/>

			<p-button label="Actualizar" styleClass="h-full" severity="secondary" icon="pi pi-refresh" (click)="onReload()" />
		</div>
	</div>

	<app-filter-bar (onSearch)="onSearch($event)"> </app-filter-bar>

	<div class="h-2.5"></div>

	<app-data-view
		[items]="items()"
		layout="grid"
		(onLazyLoad)="onLazyLoad($event)"
		[isLoading]="isLoading()"
		[tableColumns]="tableColumns"
		[totalRecords]="totalRecords()"
		[rowsPerPageOptions]="rowsPerPageOptions"
		[gridItemTemplate]="gridItem"
		[actionsTemplate]="actions"
		#DataView
	>
	</app-data-view>

	<ng-template #actions let-item>
		<app-map-data-actions (onActionClick)="onActionClick($event)" [inline]="true" [item]="item"></app-map-data-actions>
	</ng-template>

	<ng-template #gridItem let-item>
		<div #card>
			<p-card styleClass="border-0 border-white/10 dark:border-2 overflow-hidden">
				<ng-template #header>
					<div class="bg-primary py-2.5 pl-5">
						<div class="p-card-title text-white">{{ item.name }}</div>
					</div>
				</ng-template>
				<div class="p-card-content grid grid-cols-1 md:grid-cols-2 gap-2 p-5">
					<img
						[src]="baseImageUrl + '/' + item.uuid + '.png'"
						class="place-self-center w-full max-w-36 h-36 object-contain"
					/>
					<p>{{ item.description }}<br /></p>
				</div>
				<ng-template #footer>
					<div class="flex justify-end bg-primary">
						<app-map-data-actions
							(onActionClick)="onActionClick($event)"
							[ctxMenuTemplate]="card"
							[inline]="false"
							[item]="item"
						></app-map-data-actions>
					</div>
				</ng-template>
			</p-card>
		</div>
	</ng-template>
</div>
