<div class="flex flex-col my-2 items-center gap-2">
	<p-button
		(onClick)="onKeepLayer()"
		[label]="isLayerSet ? 'Eliminar' : 'Mantener Cobertura'"
		[severity]="isLayerSet ? 'danger' : 'primary'"
	>
	</p-button>

	<div>
		<p class="text-center">Nivel de Opacidad</p>
		<p-slider
			styleClass="w-56"
			[step]="0.1"
			[max]="1"
			[min]="0"
			[ngModel]="opacityLayer ?? 1"
			[ngModelOptions]="{ standalone: true }"
			(onChange)="onChangeMapOpacity($event.value ?? 0)"
		></p-slider>
	</div>

	<p class="m-0!">Fechas disponibles:</p>

	<p-datepicker
		[ngModel]="maxDate"
		inline="true"
		[maxDate]="maxDate"
		[minDate]="minDate"
		(ngModelChange)="onTodayClick($event)"
	>
		<ng-template #date let-date>
			@if (haveData(date)) {
				<strong>
					{{ date.day }}
				</strong>
			} @else {
				<span class="line-through text-gray-400">
					{{ date.day }}
				</span>
			}
		</ng-template>
	</p-datepicker>

	<p-button
		label="Descargar"
		icon="pi pi-download"
		[disabled]="!selectedValue"
		[styleClass]="'p-button-outlined'"
		(onClick)="onDownloadCurrentValue()"
	></p-button>
</div>

<div style="height: 300px; display: flex; align-items: center; justify-content: center">
	<p-chart type="doughnut" height="200" width="400" [data]="percentageData()" [options]="percentageOptions"> </p-chart>
</div>

@if (isLoading()) {
	<app-loader></app-loader>
} @else {
	<p-tabs value="0" (valueChange)="onTabChange($event)" [scrollable]="true">
		<p-tablist>
			<p-tab value="0">Limites Administrativos</p-tab>
			<p-tab value="1">TCOS</p-tab>
			<p-tab value="2">Áreas Protegidas</p-tab>
			<p-tab value="3">Sitios Ramsar</p-tab>
		</p-tablist>

		<p-tabpanels>
			<p-tabpanel value="0">
				<app-bar-chart
					[chartData]="provData()"
					label="Provincias"
					[selectOptions]="provinces"
					(onChangeData)="onProvinceChange($event)"
					(onBarClick)="onBarClick($event, 'prov')"
				>
				</app-bar-chart>

				<app-bar-chart
					[chartData]="munData()"
					label="Municipios"
					[selectOptions]="municipalities"
					(onChangeData)="onMunicipalityChange($event)"
					(onBarClick)="onBarClick($event, 'mun')"
				>
				</app-bar-chart>
			</p-tabpanel>
			<p-tabpanel value="1">
				<app-bar-chart
					[chartData]="tcosData()"
					label="TCOS"
					[selectOptions]="tcos"
					(onChangeData)="onTcosChange($event)"
					(onBarClick)="onBarClick($event, 'tcos')"
				>
				</app-bar-chart>
			</p-tabpanel>
			<p-tabpanel value="2">
				<app-bar-chart
					[chartData]="apsData()"
					label="Areas Protegídas"
					[selectOptions]="aps"
					(onChangeData)="onApsChange($event)"
					(onBarClick)="onBarClick($event, 'aps')"
				>
				</app-bar-chart>
			</p-tabpanel>
			<p-tabpanel value="3">
				<app-bar-chart
					[chartData]="ramsarData()"
					label="Sitios Ramsar"
					[selectOptions]="ramsars"
					(onChangeData)="onRamsarChange($event)"
					(onBarClick)="onBarClick($event, 'ramsar')"
				>
				</app-bar-chart>
			</p-tabpanel>
		</p-tabpanels>
	</p-tabs>
}
