<div class="flex justify-center items-center h-lvh w-screen">
	<p-card header="Recuperar contraseña" class="w-[90%] sm:w-[400px]">
		<form [formGroup]="form" (submit)="submit()">
			<div class="flex flex-col gap-2">
				<app-input-text label="Correo" name="email" [control]="controls['email']"></app-input-text>

				<div class="flex gap-2">
					<p-button
						type="button"
						severity="secondary"
						label="Regresar"
						icon="pi pi-arrow-left"
						(onClick)="goBack()"
					></p-button>

					<p-button
						styleClass="w-full"
						class="flex-1"
						type="submit"
						label="Confirmar"
						loadingIcon="pi pi-spin pi-spinner"
						[loading]="isLoading()"
						[disabled]="form.invalid"
					></p-button>
				</div>
			</div>
		</form>
	</p-card>

	<div class="fixed right-4 bottom-4 w-12 h-12">
		<p-button
			[rounded]="true"
			[text]="true"
			icon="pi pi-moon"
			styleClass="text-black dark:text-white w-12 h-12"
			(click)="toggleDarkMode()"
		>
		</p-button>
	</div>
</div>
