.menu-item {
	width: 110px;
	height: 50px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #06561a;
	font-weight: bold;
}

.active {
	text-decoration: underline;
	color: black;
	font-weight: bold;
}
