<div class="h-full">
	@if (isLoading()) {
		<div class="flex justify-center">
			<app-loader> </app-loader>
		</div>
	} @else {
		<form [formGroup]="form" (submit)="$event.preventDefault()">
			<div class="flex flex-col gap-2">
				<app-input-text
					[readOnly]="!!this.currentItem().id"
					label="Nombre del Estilo"
					placeholder="Ingrese el nombre del estilo"
					name="name"
					[control]="controls['name']"
				></app-input-text>

				<div class="grid grid-cols-1 gap-2 md:grid-cols-2">
					<div>
						<label class="block font-medium mb-2" for="maps">Seleccionar SLD</label>
						<p-fileupload
							[disabled]="isViewMode()"
							mode="basic"
							chooseLabel="Importar"
							chooseIcon="pi pi-upload"
							name="file[]"
							accept=".sld"
							maxFileSize="1_000_000"
							[multiple]="false"
							(onSelect)="onSLDSelect($event)"
						/>
					</div>

					<div>
						<label class="block font-medium mb-2" for="maps">Coberturas Relacionadas</label>
						<p-multiselect
							inputId="maps"
							placeholder="Seleccionar"
							formControlName="maps"
							[showToggleAll]="false"
							[options]="maps"
							appendTo="body"
							class="w-full"
							panelStyleClass="w-full"
							optionLabel="name"
							optionValue="id"
						>
						</p-multiselect>
						<app-input-error [control]="controls['maps']"></app-input-error>
					</div>
				</div>

				<div class="grid grid-cols-1 gap-2">
					<app-input-text
						type="textarea"
						label="Contenido del sld"
						placeholder="Contenido del sld"
						name="data"
						[control]="controls['data']"
					></app-input-text>
				</div>
			</div>

			<div class="flex pt-6 justify-end">
				<p-button
					[disabled]="form.invalid"
					[loading]="isLoading()"
					label="Guardar"
					icon="pi pi-arrow-right"
					iconPos="right"
					(onClick)="onSubmit()"
				/>
			</div>
		</form>
	}
</div>
