<p-table [value]="items()">
	<ng-template #header>
		<tr>
			<th></th>
			<th class="w-10">Acción</th>
		</tr>
	</ng-template>

	<ng-template #body let-item>
		<tr>
			<td class="flex">
				<div
					class="w-32 h-28 rounded-tr rounded-tl rounded-bl grid place-items-center"
					[style]="'background-color: ' + item.color"
				>
					<img [src]="item.icon" [alt]="item.name" width="73" height="73" />
				</div>
				<div class="flex-1 flex flex-col">
					<div class="flex-1 flex items-center">
						<a [routerLink]="item.redirectUrl" class="text-3xl ml-2">{{ item.name }}</a>
					</div>
					<span [style]="'background-color: ' + item.color" class="h-3 w-full block rounded-r"></span>
				</div>
			</td>
			<td>
				<a [routerLink]="item.redirectUrl" icon="pi pi-eye" pButton [rounded]="true" [text]="true"></a>
			</td>
		</tr>
	</ng-template>
</p-table>
